.navbar-fixed
    nav.white.z-depth-0
        .nav-wrapper
            a.teal-text(data-target="slide-out" href="#").sidenav-trigger
                i.material-icons menu
            block navtitle
                a.teal-text.brand-logo.truncate(href="/") Dashboard

            ul.right.hide-on-med-and-down
                li
                    a.teal-text(href="/") Home

                //- li
                    a.teal-text(href="#!") Settings

                li
                    a.teal-text(href="/calibration") Calibration


                li
                    a.teal-text(href="/spares") Spares

                li
                    a.teal-text(href="/documents") Documents

                //- if user.username == 'tusarpandey'
                li
                    a.teal-text(href="/users") Users

                li
                    a.teal-text(href="/about") About

                li
                    a.teal-text(href="javascript:logout()") Logout


ul#slide-out.sidenav
    li
        .user-view
            .background
                img(src="/images/office.jpg")
            a(href="#name")
                span.white-text.name {user.name}
            a(href="#email")
                span.white-text.email {user.email}
    li
        a(href="/") Home
            i.material-icons.left home
    //- li
        a(href="#!") Settings
            i.material-icons.left settings

    li
        a(href="/calibration") Calibration
            i.material-icons.left settings

    li
        a(href="/spares") Spares
            i.material-icons.left settings
    li
        a(href="/documents") Documents
            i.material-icons.left people
    //- if user.username == 'tusarpandey'
    li
        a(href="/users") Users
            i.material-icons.left people


    li
        a(href="/about") About
            i.material-icons.left info

    li
        a(href="#!") Night Mode
            i.material-icons.left palette
            .switch.right.margined-top-compact
                label
                    input#theme(type="checkbox", name="theme", onclick="changeTheme(this)")
                    span.lever

    li
        a(href="javascript:logout()") Logout
            i.material-icons.left lock