extends components/layout.pug

//- block navtitle
    a.teal-text.brand-logo.truncate(href="/") DOCUMENTS

block styles

block content

    section#documentList
        .container
            .row
                h4.light.col.s12 Documents

            //- .row
                h5.light.col.s12 Attention needed
                .col.s12
                    .collection
                        a.collection-item(v-for="document in documents.urgent", :key="document._id", @click="viewDocument(document._id)") {{document.name}}
                            span.new.badge.red(data-badge-caption="urgent")

            .row
                h5.light.col.s12 Requiring Attention
                .col.s12
                    ul.collapsible.no-border.z-depth-0
                        li.tilted.z-depth-5(v-for="document in attendingdocuments", :key="document._id")
                            //-  @click="viewDocument(document._id)"
                            .collapsible-header
                                i.material-icons description
                                | {{document.name}} #[br] {{document.format}} - {{moment(document.dateCreated).format('DD MMM YYYY | hh:mm')}}
                            .collapsible-body.grey.lighten-3

                                .row
                                    h6.light.col.s12 # {{ document._id }}

                                    //- p.col.s12
                                        a.btn.purple(:href="document.fileUrl", target="_blank") View
                                            i.material-icons.left visibility

                                    .col.s12.pdf-container
                                        canvas.pdf(:id="'pdf'+document._id")

                                    h6.col.s8 Current status: {{ document.rejected ? "Rejected": document.done ? "Finalize" : "Pending"}}


                                    h6.col.s12 Applicant: {{ document.applicant.name }}
                                    h6.col.s12 Current Passing Officer: {{ document.currentOfficer.name }}

                                
                                .row
                                    .input-field.col.s12.m6
                                        textarea.materialize-textarea(:id="'comment'+document._id", v-model="document.comment")
                                        label(for="'comment'+document._id") Comment
                                        

                                
                                
                                    p.col.s6.m3
                                        button.btn.full-width.green( :disabled="document.done || document.approved || document.rejected", @click="approveDocument(document)" ) Approve
                                            //- i.material-icons.left done
                                            //- @click="approveDocument",
                                    p.col.s6.m3
                                        a.btn.full-width.orange( :disabled="document.done", @click="forwardDocumentModalOpen(document)" ) Forward
                                            //- i.material-icons.left done
                                            //- @click="forwardDocument",
                                    p.col.s6.m3
                                        button.btn.full-width.blue( :disabled="document.done || document.rejected || !document.approved", @click="finalizeDocument(document)" ) Finalize
                                            //- i.material-icons.left done
                                            //- @click="finalizeDocument",
                                    p.col.s6.m3
                                        button.btn.full-width.red( :disabled="document.done || document.approved || document.rejected", @click="rejectDocument(document)" ) Reject
                                            //- i.material-icons.left close
                                            //- @click="rejectDocument",

                                .row    
                                    h6.light.col.s12 History of Officers: 
                                    .col.s12
                                        ul.collection.history
                                            li.collection-item.avatar(v-for="historyItem in document.history")
                                                i.material-icons.circle.green(v-if="historyItem.action == 'Approved'") done
                                                i.material-icons.circle.red(v-else-if="historyItem.action == 'Rejected'") close
                                                i.material-icons.circle.yellow(v-else-if="historyItem.action == 'Forwared'") forward
                                                i.material-icons.circle.blue(v-else="historyItem.action == 'Finalized'") done_all
                                                span.title {{ historyItem.officer.name }}
                                                p {{ historyItem.action }} - {{ moment(historyItem.date).format('DD MMM YYYY') }}
                                                p {{ historyItem.comment }}




            .row
                h5.light.col.s12 Your Applications
                .col.s12
                    ul.collapsible.no-border.z-depth-0
                        li.tilted.z-depth-5(v-for="document in selfdocuments", :key="document._id")
                            //-  @click="viewDocument(document._id)"
                            .collapsible-header
                                //- i.material-icons.circle.red description
                                i.material-icons.red-text.text-darken-2(v-if="document.rejected") close
                                i.material-icons.green-text.text-darken-2(v-else-if="document.done") done_all
                                i.material-icons(v-else) access_time
                                | {{document.name}} #[br] {{document.format}} - {{moment(document.dateCreated).format('DD MMM YYYY | hh:mm')}}
                            .collapsible-body.grey.lighten-3

                                .row
                                    h6.light.col.s12 # {{ document._id }}

                                    p.col.s12
                                        a.btn(:href="document.fileUrl", target="_blank") View
                                            i.material-icons.left visibility


                                    h6.col.s8 Current status: {{ document.rejected ? "Rejected": document.done ? "Finalized" : "Pending"}}


                                    h6.col.s12 Applicant: {{ document.applicant.name }}
                                    h6.col.s12 Current Passing Officer: {{ document.currentOfficer.name }}

                                //- .row(v-if="passingOfficerLoggedIn")

                                .row    
                                    h6.light.col.s12 History of Officers: 
                                    .col.s12
                                        ul.collection.history
                                            li.collection-item.avatar(v-for="historyItem in document.history")
                                                i.material-icons.circle.green(v-if="historyItem.action == 'Approved'") done
                                                i.material-icons.circle.red(v-else-if="historyItem.action == 'Rejected'") close
                                                i.material-icons.circle.yellow.darken-2(v-else-if="historyItem.action == 'Forwarded'") forward
                                                i.material-icons.circle.blue(v-else="historyItem.action == 'Finalized'") done_all
                                                span.title {{ historyItem.officer.name }}
                                                p {{ historyItem.action }} - {{ moment(historyItem.date).format('DD MMM YYYY') }}
                                                p {{ historyItem.comment }}










        #documentForwardModal.modal
            .modal-content
                .row
                    .col.s12 Select officer
                    .col.s12
                        select.browser-default(name="forwardOfficer", v-model="forwardOfficer", ref="officerSelect")
                            option(value="", disabled, selected) Choose your option
                            option(:value="officer._id",  v-for="officer in officers" :key="officer._id") {{officer.name}}
                    p.col.s6.m3
                        a.btn.full-width(@click="forwardDocument()" ) Forward



        #OTPModal.modal
            .modal-content
                .row
                    //- .col.s12 Enter OTP
                    .input-field.col.s12
                        input#OTP(type="text", name="OTP", v-model="OTP")
                        label(for="OTP") Enter OTP
                    p.col.s6.m3
                        a.btn.full-width(@click="validateOTP()" ) Authenticate








        .fixed-action-btn
            a.waves-effect.waves-light.btn-floating.btn-large.red.modal-trigger(href="#documentmodal")
                i.material-icons.large add

        #documentmodal.modal.modal-fixed-footer
            .modal-content

                .row
                    h4.col.s12 Create application
                    form#documentCreateForm.col.s12(v-on:submit.prevent="onSubmit")
                        .row
                            .input-field.col.s12
                                input#name(type="text", name="name", v-model="name")
                                label(for="name") Name

                            //- .input-field.col.s12
                            .col.s12
                                label Officer

                                select.browser-default(name="officer", v-model="selectedofficer", ref="officerSelect")
                                    option(value="", disabled, selected) Choose your option
                                    option(:value="officer._id",  v-for="officer in officers" :key="officer._id") {{officer.name}}

                            .col.s12
                                label Format
                                select.browser-default(name="format", v-model="selectedformat", ref="formatSelect")
                                    //- option(value="", disabled, selected) Choose your option
                                    option(value="Case Purchase", selected) Case Purchase
                                    option(value="Tender Enquiry") Tender Enquiry
                                    option(value="GFR") GFR
                                    option(value="Noting") Noting
                                    option(value="Misceallaneous") Misceallaneous

                                //- select.browser-default.icons(name="officer", v-model="selectedofficer", ref="officerSelect")
                                    option(value="", disabled, selected) Choose your option
                                    option(:value="officer._id", data-icon="/images/office.jpg", v-for="officer in officers" ) {{officer.name}}

                                //- label Officer

                            //- p.col.s12
                                label
                                    input#urgent.filled-in(type="checkbox", checked="checked", v-model="urgent")
                                    span Urgent

                            .file-field.input-field.col.s12
                                .btn
                                    span File
                                    input#file(type="file", v-on:change="onFileUpload()", ref="file")
                                .file-path-wrapper
                                    input.file-path(type="text", placeholder="Upload file")




                                //- button.full-width.btn.waves-effect.waves-light(type="submit") Submit



            .modal-footer
                a.modal-close.waves-effect.waves-red.btn-flat.red-text(href="#!") Cancel
                a.btn.modal-close.waves-effect.waves-light.green.white-text(@click="onSubmit") Submit




block scripts
    script(src="/js/lib/pdf.js")
    script(src="/js/init/documents.js")
