extends components/layout.pug

block styles

block navtitle
    a.teal-text.brand-logo.truncate(href="/") Home

block content
    h3 Redirecting...

block scripts
    script(src="/js/init/redirect.js")
