extends components/layout.pug

block styles

block navtitle
    a.teal-text.brand-logo.truncate(href="/") USERS
block content
    
    #users
        ul.collection 
            li.collection-item(v-for="user in users", @click="viewUser(user._id)") {{user.name}}
                
                
                
        #userModal.modal
            .modal-content
                h3.light {{selecteduser.name}}
                p.light ID: {{selecteduser._id}}
                p Username: {{selecteduser.username}}
                p Email: {{selecteduser.email}}
                p
                    a.btn.red(@click="deleteUser(selecteduser._id)") Delete User
                        i.material-icons.left delete
                    a.btn(@click="activateUser(selecteduser._id)" v-if="!selecteduser.active") Activate User
                        i.material-icons.left check
                    
block scripts
    script(src="/js/init/users.js")
